*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  /* transition: all 2s; */
}

@layer components {
  .screen-link {
    @apply inline-block p-4 border-t-2 border-transparent;
  }

  .active-screen-link {
    @apply border-primary-500 text-white;
  }

  .mobile-link {
    @apply inline-block p-4;
  }

  .active-mobile-link {
    @apply text-primary-500 ml-2;
  }
}

/* The lesson select custom element */
.custom-select {
  min-width: 180px;
  max-width: 350px;
  /* z-index: -1; */
  cursor: pointer;
}

.custom-select select {
  @apply w-full py-2 px-2 bg-white border-1 border-gray-200 rounded-md text-gray-600 text-base appearance-none;
}

/* The two small arrows */
.custom-select::after,
.custom-select::before {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 1rem;
  pointer-events: none;
}

.custom-select::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.custom-select::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

/* datalist input */

/* The magnifying glass placement*/
#search {
  @apply absolute right-2 top-2;
  pointer-events: none;
}

.react-datalist-input__textbox {
  @apply p-2 pr-4 text-base rounded-md text-gray-600 transition-all duration-500;
}

.react-datalist-input__label {
  display: none;
}

.react-datalist-input__listbox-option:focus {
  @apply bg-gray-900 text-white outline-none;
}

.main-p {
  @apply lg:px-24 md:px-20 sm:px-14 px-6;
}

.footer-big-text {
  @apply text-white font-semibold;
}

.footer-small-text {
  @apply text-sm text-gray-300;
}

.text-big {
  @apply lg:text-3xl md:text-2xl text-xl;
}

.social-icon {
  @apply p-3 bg-gray-800 inline-block text-white cursor-pointer hover:bg-primary-500 transition-all duration-500 rounded-sm;
}

#main-img {
  width: 110%;
  height: 100%;
  margin-right: -10%;
  transform-origin: center top;
}

#skewed-img {
  transform: skew(-10deg, 0deg);
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 768px) {
  #main-img {
    width: 100%;
    margin-right: 0;
  }

  #skewed-img {
    transform: skew(0);
  }
}

.primary-btn {
  @apply py-2 px-3 text-primary-500 bg-primary-100 hover:text-primary-100 hover:bg-primary-500 transition-all duration-500;
}

.secondary-btn {
  @apply py-2 px-3 text-primary-100 bg-primary-500  hover:text-primary-500 hover:bg-primary-100 transition-all duration-500;
}

.margin-all {
  @apply lg:mx-[10vw] md:mx-[5vw] mx-5;
}

.lesson-text {
  @apply lg:font-medium md:text-lg text-base font-semibold;
}

.top-uni {
  -webkit-box-shadow: 0px 0px 114px -18px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 114px -18px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 114px -18px rgba(0, 0, 0, 0.75);
  @apply min-w-[25%] text-lg text-primary-700 font-medium px-4 py-2 text-center;
}

.global-padding {
  @apply md:px-[5vw] px-5 py-12;
}

.card-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-shadow-sm {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

@layer components {
  .auth-input {
    @apply flex flex-col text-left gap-2 mb-4;
  }

  .auth-input label {
    @apply font-semibold text-gray-900 text-lg;
  }

  .auth-input input {
    @apply pl-5 pr-3 py-2 border-1 border-gray-100 flex-grow rounded-sm focus:outline-none focus:border-1 focus:border-gray-400;
  }
}

.signup-image {
  background-image: url("/images/signup2.jpg");
}

.login-image {
  background-image: url("/images/login.jpg");
}

.auth-image {
  background-size: 50% 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
  background-attachment: fixed;
}

@media only screen and (max-width: 768px) {
  .auth-image {
    background-size: cover;
    object-position: center;
  }
}
